@define-color background rgba(20, 20, 20, 0.8);
@define-color foreground rgba(255, 255, 255, 1);

* {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-family: JetBrainsMono Nerd Font;
}

window {
	background: transparent;
}
window > box {
	color: @foreground;
	background: @background;
	border: 2px solid white;
	border-radius: 20px;
	box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
	padding: 3px 15px 3px 15px; 
	margin: 5px 480px 5px 480px;

	transition: width 2s;
}


tooltip {
	background: @background;
}

#workspaces{
	
}

#workspaces button{
	border: 0px;
	margin: 5px;
	color: @foreground;
	border: 2px solid @foreground;
	border-radius: 20px;
	font-weight: bold;
	background: transparent;
	padding: 0px 5px 0px 5px;
	transition: 0.2s;
	transition-timing-function: ease-in-out;
}


#workspaces button.active,
#workspaces button:hover {
	color: @background;
	background: @foreground;
	padding: 0px 15px 0px 15px;
	transition: 0.2s;
	transition-timing-function: ease-in-out;
}

#custom-powermenu{
	color: deepskyblue;
	font-size: 30px;
	margin-right: 10px;
}

#clock {
	font-weight: bold;
}

#battery,
#network,
#wireplumber,
#custom-microphone,
#bluetooth{
	margin: 0px 8px 0px 8px;
	font-size: 20px;
	transition: color 1s;
}

#battery {
	color: greenyellow;
}

#battery.full,
#battery.charging {
	color: cyan;	
}

#battery.critical:not(.charging) {
	color: red;
}

#battery.warning:not(.charging) {
	color: yellow;
}

#bluetooth.on {
	color: cyan;
}

#bluetooth.connected {
	color: rgb(0, 130, 252);
}
